#sets-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  .set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .set-logo {
      max-width: 200px;
      max-height: 150px;
      padding-bottom: 1rem;
    }
    h2 {
      
    }
  }
}