@use 'variables' as v;

#sets-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  .set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
      img.set-logo {
        transform: scale(1.1);
        transition: all 0.2s v.$bounce;
      }
    }
    img.set-logo {
      max-width: 200px;
      max-height: 150px;
      padding-bottom: 1rem;
      transition: all 0.2s ease-out;
    }
    h2 {
      
    }
  }
}